{% extends "base.html" %}
{% block title %}
    Воспоминания о грядущем
{% endblock %}
{% block info %}
	{% load static %}	
    <!--a href="user/registration">Регистрация</a-->
	{{ intro }}	

    <h1>Фантастика? Прогнозы?</h1>
    <p>Скорее, просто графомания. Причём без всякой надежды на успех. Местный чукча всё-таки больше читатель, а не писатель. Пишет не от большого желания прославиться и не от дикой жажды поделиться с человечеством своими безусловно гениальными мыслями.</p>
    <p>Просто... кто-то тоскует о прошлом. Кто-то наслаждается настоящим, либо страдает от него. Мне нравится думать о будущем и рисовать его так, чтобы оно было привлекательным лично для меня. Чтобы мне хотелось оказаться в нём, пусть я и знаю, что это невозможно.</p>
    <p>Тем, кто думает так же, как и я - добро пожаловать! Для всех остальных - интернет огромен, и вы всегда найдёте в нём уголок по своей душе.</p>

{% endblock %}